body {
    font-family: Helvetica;
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: dimgray;
}

h3 {
    font-size: 23px;
    font-weight: bold;
    color: dimgray;
}

p {
    color: dimgray;
    font-size: 14px;
}

.menu {
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: 190%;
}

.footer {
    font-size: 11px;
    color: white;
    background-color: dimgray;
    text-align: left;
}

.image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
  background-size: auto;
  background-repeat: no-repeat;
  height: 320px;
}

.caption {
  display: inline;
  color: white;
  font-weight: bold;
  opacity: 0.75;
  font-size: 70px;
  line-height: 140px;
  padding: 55px;
  position: static;
}
